<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- MODAL NUEVA SECRETARIA -->
<div th:fragment="modalNuevaSecretaria">
    <div class="modal fade" id="modalSecretaria" tabindex="-1" aria-labelledby="modalSecretariaLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form th:action="@{/admin/usuarios}" method="post" th:object="${secretariaNueva}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Nueva Secretaria</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" th:field="*{cedula}" placeholder="Cédula" class="form-control mb-2" maxlength="10" required>
                        <div th:if="${errorCedula}" class="alert alert-danger" th:text="${errorCedula}"></div>
                        <input type="text" th:field="*{nombre}" placeholder="Nombre" class="form-control mb-2" maxlength="30" required>
                        <input type="text" th:field="*{apellido}" placeholder="Apellido" class="form-control mb-2" maxlength="30" required>
                        <input type="text" th:field="*{direccion}" placeholder="Dirección" class="form-control mb-2" maxlength="30">
                        <input type="text" th:field="*{telefono}" placeholder="Teléfono" class="form-control mb-2" maxlength="10">
                        <div th:if="${errorTelefono}" class="alert alert-danger" th:text="${errorTelefono}"></div>
                        <input type="email" th:field="*{email}" placeholder="Correo" class="form-control mb-2" maxlength="50" required>
                        <div th:if="${errorEmail}" class="alert alert-danger" th:text="${errorEmail}"></div>
                        <input type="password" th:field="*{password}" placeholder="Contraseña" class="form-control mb-2" required>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Crear Secretaria</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL EDITAR USUARIO -->
<div th:fragment="modalEditarSecretaria">
    <div class="modal fade" id="modalEditarSecretaria" tabindex="-1" aria-labelledby="modalEditarSecretariaLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form th:action="@{/admin/usuarios/editar}" method="post" th:object="${secretariaEditar}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Editar Secretaria</h5> <!-- Cambiado aquí -->
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" th:field="*{cedula}" class="form-control mb-2" readonly style="background-color: #e9ecef;">
                        <input type="text" th:field="*{nombre}" class="form-control mb-2" maxlength="30" required>
                        <input type="text" th:field="*{apellido}" class="form-control mb-2" maxlength="30" required>
                        <input type="text" th:field="*{direccion}" class="form-control mb-2" maxlength="30">
                        <input type="text" th:field="*{telefono}" class="form-control mb-2" maxlength="10">
                        <input type="email" th:field="*{email}" class="form-control mb-2" maxlength="50" style="background-color: #e9ecef;" readonly >
                        <div th:if="${errorEmail}" class="alert alert-danger" th:text="${errorEmail}"></div>
                        <div th:if="${errorTelefono}" class="alert alert-danger" th:text="${errorTelefono}"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
